<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <add key="ReceptionUrl" value="https://reception.kommuneserver2.dk/test/view/reception/2593?languagecode=da"/>
  </appSettings>
</configuration>